:root {
  font-family: Helvetica, sans-serif !important;
}

svg {
  vertical-align: top;
}

.dashboard {
  display: grid;
  grid-template-columns: 10rem 1fr 3fr;
  min-height: 100vh;
  min-width: 100vw;
}

.slider-container {
  display: grid;
}

.scen-name {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: calc(50% + 150px);
  left: 5rem;
  transform: translateX(-50%);
  font-size: 0.9rem;
}

.scen-name :first-child {
  font-size: 0.7rem;
  color: gray;
}

.bucket-map-container {
  position: relative;
}

.other-buckets-container {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  grid-template-columns: 50px 50px 50px;
  font-size: 0.6rem;
  gap: 1rem;
}

.pdf-container {
  display: grid;
}

.input-range {
  place-self: center;
  -webkit-appearance: none;
  height: 200px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
}

/* Firefox Overrides */
::-moz-range-track {
  background: #ccc;
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
}

.bucket-viz {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bucket-viz-container {
  position: relative;
}

.main-bucket-label {
  position: absolute;
  top: calc(50% - 70px);
  transform: translateY(-50%);
}

.bucket-and-label > span {
  display: inline-block;
  max-width: 10ch;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bucket-and-label.cur-obj {
  visibility: hidden;
}

.bucket-razor {
  position: absolute;
  height: 5px;
  background-color: gray;
  width: 100%;
}

.bucket-razor span {
  display: block;
  margin-left: calc(100% + 0.5rem);
  margin-top: -0.5em;
  width: min-content;
  font-size: 0.7rem;
  color: gray;
}

.dot-pdf-wrapper {
  place-self: center;
  position: relative;
  isolation: isolate;
}

.pdf-razor {
  width: 5px;
  height: 100%;
  transform: translateX(-50%);
  top: 0;
  position: absolute;
  cursor: col-resize;
  background-color: gray;
}
