:root {
  font-family: Helvetica, sans-serif !important;
}

svg {
  vertical-align: top;
}

.dashboard {
  display: grid;
  grid-template-columns: 10rem 30rem 1fr;
  min-height: 100vh;
  min-width: 100vw;
}

.slider-container {
  display: grid;
}

.scen-name {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: calc(50% + 120px);
  left: 5rem;
  transform: translateX(-50%);
  font-size: 0.9rem;
}

.scen-name :first-child {
  font-size: 0.7rem;
  color: gray;
}

.scen-name button {
  font-size: 0.7rem;
  color: gray;
  padding: 0.5em 1em;
  margin-top: 1em;
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
}

.bucket-map-container {
  position: relative;
}

.other-buckets-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  grid-template-columns: 50px 50px 50px;
  font-size: 0.6rem;
  gap: 1rem;
  color: gray;
}

.pdf-container {
  display: grid;
}

.preview-indic {
  visibility: hidden;
  position: absolute;
  top: 1rem;
  color: red;
  left: 100%;
}

.input-range {
  place-self: center;
  height: 200px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  writing-mode: vertical-lr;
  direction: rtl;
}

/* Firefox Overrides */
::-moz-range-track {
  background: #ccc;
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
}

.bucket-viz {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bucket-viz-container {
  position: relative;
}

.main-bucket-label {
  position: absolute;
  top: calc(50% - 70px);
  transform: translateY(-50%);
}

.bucket-and-label > span {
  display: inline-block;
  max-width: 10ch;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bucket-and-label {
  cursor: pointer;
}

.bucket-and-label:hover {
  transform: translateY(-5px);
}

.bucket-and-label.cur-obj {
  visibility: hidden;
}

.bucket-razor {
  position: absolute;
  height: 3px;
  border: none;
  border-top: 1px dashed black;
  width: 100%;
}

.bucket-razor p:first-child {
  display: block;
  text-align: center;
  margin-left: calc(100% + 0.5rem);
  margin-top: -2em;
  width: min-content;
  font-size: 0.7rem;
  color: gray;
}

.bucket-razor p:last-child {
  display: block;
  text-align: center;
  margin-left: calc(100% + 0.5rem);
  /* margin-top: 0.5em; */
  width: max-content;
  font-size: 1rem;
}

.bucket-razor p:last-child > span {
  font-size: 0.8rem;
}

.dot-pdf-wrapper {
  place-self: center;
  position: relative;
  isolation: isolate;
}

.pdf-razor {
  width: 5px;
  height: 100%;
  transform: translateX(-50%);
  top: 0;
  position: absolute;
  cursor: col-resize;
  border: none;
  border-right: 3px dashed #f00;
  font-size: 0.9rem;
  /* background-color: gray; */
}

.pdf-razor > * {
  position: relative;
}

.pdf-razor span:first-child {
  position: absolute;
  display: block;
  width: 20ch;
  text-align: center;
  top: 2rem;
  right: 2rem;
}

.pdf-razor span:last-child {
  position: absolute;
  display: block;
  width: 20ch;
  text-align: center;
  top: 2rem;
  left: 2rem;
}

.ridgeline-overlay {
  --left-space: 40rem;

  background-color: rgb(200, 200, 200);
  position: fixed;
  height: 100vh;
  width: calc(100% - var(--left-space));
  top: 0;
  left: var(--left-space);
  overflow-y: scroll;
  padding: 2rem;
  isolation: isolate;
  /* display: grid; */

  background-color: rgba(200, 200, 200, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.overlay-container {
  /* place-self: center; */
  margin: 0 auto;
  width: min-content;
  position: relative;
  /* border: 1px solid blue; */
  /* mix-blend-mode: darken; */
}

.overlay-container.previewing > * {
  filter: contrast(30%) brightness(150%);

  /* opacity: 0.5; */
}

.overlay-container > * {
  position: relative;
  display: flex;
  align-items: end;
  font-size: 1rem;
  cursor: pointer;
  height: 63px;
  -webkit-filter: none;
  filter: none;
  /* border: 1px solid red; */
  width: min-content;
}

.overlay-container > *.previewing {
  filter: none;
  z-index: 1000;
}

.overlay-container > *.current-scene {
  box-shadow: 0px 0px 10px 1px yellow;
  /* outline-offset: 1rem; */
}

.overlay-container > * + * {
  /* border: 1px solid red; */
  /* margin-top: -40px; */
}

.dot-overlay-razor {
  position: absolute;
  width: 5px;
  top: 0px;
  height: 100%;
  border: none;
  border-left: 1px dashed black;
}

.dot-pdf-shadowed {
}

/* cr: https://codepen.io/S-Maas/pen/NrYvdK */

.sort-types {
  display: flex;
  max-width: 15rem;
  width: 100%;
  position: relative;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 1;
  margin: 0 auto;
  font-size: 12px;
  border: 1px solid steelblue;
  border-radius: 3px;
  color: steelblue;
  margin-bottom: 2rem;
}
.sort-types > input {
  display: none;
}
.sort-types > input:checked + label {
  color: white;
}
.sort-types > input:nth-of-type(1):checked ~ label:last-of-type:before {
  transform: translateX(calc(0% + 0px));
}
.sort-types > input:nth-of-type(2):checked ~ label:last-of-type:before {
  transform: translateX(calc(100% + 0px));
}
.sort-types > input:nth-of-type(3):checked ~ label:last-of-type:before {
  transform: translateX(calc(200% + 0px));
}
.sort-types label {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.sort-types label:last-of-type:before {
  content: "";
  display: block;
  max-width: calc(50% - 0px);
  margin: 0px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateX(0);
}
.sort-types label {
  padding: 6px 3px;
  transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}
.sort-types label:before {
  background: steelblue;
  transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}
.sort-types label:not(:last-child) {
  border-right: 1px solid steelblue;
}
